
.page {
    background-color: rgb(57, 127, 157);
}

.links {
    color: aliceblue;
}

.inputfield {
    background-color: rgb(187, 187, 187);
}

.buttons {
    color: black;
}

.answer {
    color: red; 
    font-style: italic;
}

fieldset {
    font: 1em Georgia, "Times New Roman", Times, serif;
    text-transform: none;
    color: rgb(0, 0, 0);
    background: rgb(57, 127, 157);
    border: thin solid #333;
}
#legend {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    }

  