
.page {
    background-color: rgb(57, 127, 157);
}

.links {
    color: aliceblue;
}

.inputfield {
    background-color: rgb(187, 187, 187);
}

.buttons {
    color: black;
}

.answer {
    color: red; 
    font-style: italic;
}


  